# Project exclude paths
/.gradle/
/Parking Lot/task/build/
/Parking Lot/task/out/production/classes/
/Parking Lot/task/out/test/classes/
/Topics/Standard output/Print code/out/
/Topics/Standard output/Print code/out/production/classes/
/Topics/Standard output/We need to learn Kotlin/out/
/Topics/Standard output/We need to learn Kotlin/out/production/classes/
/Topics/The classification of basic types/Size, min and max/out/
/Topics/The classification of basic types/Size, min and max/out/production/classes/
/Topics/Values and variables/Fix the program/out/
/Topics/Values and variables/Fix the program/out/production/classes/